<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Token</title>

</head>
<body>
    
    <main class="container my-5">

        
        <section class="row col-12 col-md-9 col-xl-7 mx-auto border rounded p-3 bg-light shadow">

            <h2 class="display-6">Twój indywidualny token logowania:</h2>

            <hr>
            
            <div class="col-8">
                <input value=<%= auth %> disabled readonly type="password" class="form-control form-control-lg" id="authReadOnly" >
            </div>

            <div class="col-4">
                <button type="button" class="btn btn-secondary form-control h-100" id="copyButton">Kopiuj</button>
            </div>

            <div class="col-12 m-3 form-check form-switch">
                <input class="form-check-input" id="showCheckbox" type="checkbox">
                <label class="form-check-label" for="showCheckbox">Pokaż token</label>
            </div>

            <div class="col-12 mt-3 ">
                <a id="faceboolLogin" href="/" class="h3 btn btn-primary form-control">Wróć do strony głównej</a>
            </div>

        </section>


    </main>

    <script>

        const auth = document.querySelector( '#authReadOnly' );
        const copy = document.querySelector( '#copyButton' );
        const show = document.querySelector( '#showCheckbox' );

        copy.addEventListener( 'click', async ( e ) => {
            e.preventDefault();

            await navigator.clipboard.writeText( auth.value );
        });

        show.addEventListener( 'change', ( e ) => {

            if( e.target.checked ) {
                auth.type = 'text';

            } else {
                auth.type = 'password';
            }
        });

        document.addEventListener( 'DOMContentLoaded', () => {

            navigator.clipboard.writeText( auth.value );
        });

    </script>

</body>
</html>